node_modules/
tokens/
wppconnect-server/tokens/
wppconnect-server/daemon/
*.log
*.db-wal
*.db-shm
lockfile
faturas/

*.json
MINERADORA_BRUTA/
*.log

IOTEC_JSON_MAP.json
MINERADORA_BRUTA/
*.json


NUCLEO_CONSOLIDADO/
MINERADORA_BRUTA/
*.json

