node_modules/
tokens/
wppconnect-server/tokens/
wppconnect-server/daemon/
MINERADORA_BRUTA/
NUCLEO_CONSOLIDADO/
*.log
*.db-wal
*.db-shm
*.json
lockfile
faturas/

wppconnect-server/tokens/
wppconnect-server/daemon/
ACERVO_MIDIAS/
*.log

