/**
  Webchat specific styles that are externally loaded within the webchats iframe.
*/

.bpHeaderContainer {
  background: #FFFFFF;
  border-bottom: 1px solid #D5D6DB;
  box-shadow: none;

  :not[data-disabled] {
    background: #FFFFFF;
  }

  .bpHeaderContentContainer {
    cursor: auto;
  }

  .bpHeaderContentTitle {
    color: #080A0D;
  }

  .bpHeaderContentActionsContainer {
    .bpHeaderContentActionsIcons {
      color: #080A0D;

      &:hover {
        color: #FFFFFF;
        background-color: #5C7284;
      }
    }
  }
}

.bpHeaderContainer:not([data-disabled]) .bpHeaderContentContainer:hover {
  background: #FFFFFF;
}

.bpHeaderContentDescription {
  display: none;
}

.bpHeaderContentAvatarImage {
  display: none;
}

.bpMessageAvatarImage {
  object-fit: contain;
}

.bpMessageListMarqueeAvatarImage {
  object-fit: contain;
}

.bpMessageListMarqueeTitle {
  font-size: 18px;
}

.bpMessageListMarqueeDescription {
  font-size: 16px;
  font-weight: 400;
}

.bpMessageBlocksBubble {
  &[data-direction=outgoing] {
    background: linear-gradient(92.79deg, #358FFD 2.79%, #8077FF 100%);
  }
}

.bpModalDialogNewConversationButton {
  background: linear-gradient(92.79deg, #358FFD 2.79%, #8077FF 100%);

  &:hover {
    background: linear-gradient(92.79deg, #358FFD 2.79%, #8077FF 100%);
  }
}

.bpComposerVoiceButtonContainer {
  display: none;
}

.bpFabContainer {
  background: linear-gradient(92.79deg, #358FFD 2.79%, #8077FF 100%);

  &:hover {
    background: linear-gradient(92.79deg, #358FFD 2.79%, #8077FF 100%);
  }
}

